html,body{
    margin: 0;
    padding: 0;
}

html{
    overflow: hidden;
}

body{
    background: #2b2b2b;
    background-image: url(../img/back_eff.png);
    background-size: 200px auto;
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display:none;
}

#contents_area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    background: #cecece;
    background-image: url(../img/back_eff02.png);
    background-size: 150px auto;
    scroll-snap-align: start;
    overflow: auto;
}

.data_contents{
    max-width: 600px;
    width: calc(50% - 40px);
    min-width: 340px;
    height: 600px;
    margin: 20px;
}


