.header{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.header .title{
    
}

.header .logo{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border-radius: 200px;
    background-image: url(../img/emblem01.png);
    background-size: contain;
}

.header h1{
    width: 100%;
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-size: 34px;
}

.header p{
    width: 100%;
    margin: 0;
    text-align: center;
    color: #FFF;
}