.search_box{
    display: block;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
    font-size: 18px;
}

.search_box:focus{
    border: 0;
    outline: 0;
}

.attention{
    opacity: 0;
    color: #FFF;
    text-align: center;
    transition: all 0.5s ease-out;
    user-select: none;
}

.search_box:focus ~ .attention{
    opacity: 1;
}